In [2]:
#pandas build on numpy
#pandas = panel data
#usually works with data series

In [5]:
import pandas as pd

In [ ]:
#Series :1-D datatype of labelled array (column) in a spreadsheet
data1 = [100,102, 104]#int
data2 = ["A","B","c"]#string =object
data3 =[True,False]#boolean
series = pd.Series(data1)
series1 =pd.Series(data2)
series2 =pd.Series(data3)
print(series)
print(series1)
print(series2)

0    100
1    102
2    104
dtype: int64
0    A
1    B
2    c
dtype: object
0     True
1    False
dtype: bool

In [12]:
series

0    100
1    102
2    104
dtype: int64

In [ ]:
series =pd.Series(data1, index =["a","b","c"])#index change / label change
print(series)

a    100
b    102
c    104
dtype: int64

In [ ]:
print(series.loc["a"])#used to retrive from the value by label (location)
series.loc["c"]= 200
print(series)

100
a    100
b    102
c    200
dtype: int64

In [21]:
print(series.iloc[0])#used by integer label

100

In [25]:
data = [100,200,300,400,500]#filtering by value
series3 = pd.Series(data , index = ["a","b","c","d","e"])
print(series3[series3 > 200])

c    300
d    400
e    500
dtype: int64

In [29]:
data4 = {"Day1": 1750, "Day2": 2100, "Day3":1700}
series4 = pd.Series(data4)
print(series4.loc["Day1"])
print(series4.iloc[2])
series4.loc["Day1"] +=400
print(series4)
print(series4[series4 >2000])

1750
1700
Day1    2150
Day2    2100
Day3    1700
dtype: int64
Day1    2150
Day2    2100
dtype: int64

In [ ]:
#Datarframe = Atabular data Structure with rows and columns.(2-D) same as spread sheet