In [2]:
#pandas build on numpy
#pandas = panel data
#usually works with data series

In [3]:
import pandas as pd

In [4]:
#Series :1-D datatype of labelled array (column) in a spreadsheet
data1 = [100,102, 104]#int
data2 = ["A","B","c"]#string =object
data3 =[True,False]#boolean
series = pd.Series(data1)
series1 =pd.Series(data2)
series2 =pd.Series(data3)
print(series)
print(series1)
print(series2)

0    100
1    102
2    104
dtype: int64
0    A
1    B
2    c
dtype: object
0     True
1    False
dtype: bool

In [5]:
series

0    100
1    102
2    104
dtype: int64

In [6]:
series =pd.Series(data1, index =["a","b","c"])#index change / label change
print(series)

a    100
b    102
c    104
dtype: int64

In [7]:
print(series.loc["a"])#used to retrive from the value by label (location)
series.loc["c"]= 200
print(series)

100
a    100
b    102
c    200
dtype: int64

In [8]:
print(series.iloc[0])#used by integer label

100

In [9]:
data = [100,200,300,400,500]#filtering by value
series3 = pd.Series(data , index = ["a","b","c","d","e"])
print(series3[series3 > 200])

c    300
d    400
e    500
dtype: int64

In [10]:
data4 = {"Day1": 1750, "Day2": 2100, "Day3":1700}
series4 = pd.Series(data4)
print(series4.loc["Day1"])
print(series4.iloc[2])
series4.loc["Day1"] +=400
print(series4)
print(series4[series4 >2000])

1750
1700
Day1    2150
Day2    2100
Day3    1700
dtype: int64
Day1    2150
Day2    2100
dtype: int64

In [11]:
#Datarframe = Atabular data Structure with rows and columns.(2-D) same as spread sheet
data = {"Name" : ["Luffy", "Zoro", "Sanji"],
        "Age" : [19 ,22, 22]}
df = pd.DataFrame(data, index =["Captian", "Vice-Captian", "Cook"])
print(df)

               Name  Age
Captian       Luffy   19
Vice-Captian   Zoro   22
Cook          Sanji   22

In [12]:
print(df.loc["Captian"])#For Single Row by label

Name    Luffy
Age        19
Name: Captian, dtype: object

In [13]:
print(df.iloc[1])#same with index
print(df.iloc[2])

Name    Zoro
Age       22
Name: Vice-Captian, dtype: object
Name    Sanji
Age        22
Name: Cook, dtype: object

In [14]:
#Add new Column
df["Joining"] = ["Captian", "Crew1", "Crew3"]
print(df)

               Name  Age  Joining
Captian       Luffy   19  Captian
Vice-Captian   Zoro   22    Crew1
Cook          Sanji   22    Crew3

In [15]:
#Add new Row : create new dataframe and concatenate
new_row = pd.DataFrame([{"Name":"Nami", "Age": 21,"Joining" : "Crew2" }], index =["Navigator"])
df = pd.concat([df ,new_row])#used to concatenate
print(df)

               Name  Age  Joining
Captian       Luffy   19  Captian
Vice-Captian   Zoro   22    Crew1
Cook          Sanji   22    Crew3
Navigator      Nami   21    Crew2

In [16]:
#importing
#we read by using pd.read_csv()
#for json: pd.read_json

In [17]:
df = pd.read_csv("data.csv")
print(df)

      No        Name    Type1   Type2  Height  Weight  Legendary
0      1   Bulbasaur    Grass  Poison     0.7     6.9          0
1      2     Ivysaur    Grass  Poison     1.0    13.0          0
2      3    Venusaur    Grass  Poison     2.0   100.0          0
3      4  Charmander     Fire     NaN     0.6     8.5          0
4      5  Charmeleon     Fire     NaN     1.1    19.0          0
..   ...         ...      ...     ...     ...     ...        ...
145  146     Moltres     Fire  Flying     2.0    60.0          1
146  147     Dratini   Dragon     NaN     1.8     3.3          0
147  148   Dragonair   Dragon     NaN     4.0    16.5          0
148  149   Dragonite   Dragon  Flying     2.2   210.0          0
149  150      Mewtwo  Psychic     NaN     2.0   122.0          1

[150 rows x 7 columns]

In [18]:
print(df.to_string())

      No        Name     Type1     Type2  Height  Weight  Legendary
0      1   Bulbasaur     Grass    Poison     0.7     6.9          0
1      2     Ivysaur     Grass    Poison     1.0    13.0          0
2      3    Venusaur     Grass    Poison     2.0   100.0          0
3      4  Charmander      Fire       NaN     0.6     8.5          0
4      5  Charmeleon      Fire       NaN     1.1    19.0          0
5      6   Charizard      Fire    Flying     1.7    90.5          0
6      7    Squirtle     Water       NaN     0.5     9.0          0
7      8   Wartortle     Water       NaN     1.0    22.5          0
8      9   Blastoise     Water       NaN     1.6    85.5          0
9     10    Caterpie       Bug       NaN     0.3     2.9          0
10    11     Metapod       Bug       NaN     0.7     9.9          0
11    12  Butterfree       Bug    Flying     1.1    32.0          0
12    13      Weedle       Bug    Poison     0.3     3.2          0
13    14      Kakuna       Bug    Poison     0.6    10.0          0
14    15    Beedrill       Bug    Poison     1.0    29.5          0
15    16      Pidgey    Normal    Flying     0.3     1.8          0
16    17   Pidgeotto    Normal    Flying     1.1    30.0          0
17    18     Pidgeot    Normal    Flying     1.5    39.5          0
18    19     Rattata    Normal       NaN     0.3     3.5          0
19    20    Raticate    Normal       NaN     0.7    18.5          0
20    21     Spearow    Normal    Flying     0.3     2.0          0
21    22      Fearow    Normal    Flying     1.2    38.0          0
22    23       Ekans    Poison       NaN     2.0     6.9          0
23    24       Arbok    Poison       NaN     3.5    65.0          0
24    25     Pikachu  Electric       NaN     0.4     6.0          0
25    26      Raichu  Electric       NaN     0.8    30.0          0
26    27   Sandshrew    Ground       NaN     0.6    12.0          0
27    28   Sandslash    Ground       NaN     1.0    29.5          0
28    29    Nidoran♀    Poison       NaN     0.4     7.0          0
29    30    Nidorina    Poison       NaN     0.8    20.0          0
30    31   Nidoqueen    Poison    Ground     1.3    60.0          0
31    32    Nidoran♂    Poison       NaN     0.5     9.0          0
32    33    Nidorino    Poison       NaN     0.9    19.5          0
33    34    Nidoking    Poison    Ground     1.4    62.0          0
34    35    Clefairy     Fairy       NaN     0.6     7.5          0
35    36    Clefable     Fairy       NaN     1.3    40.0          0
36    37      Vulpix      Fire       NaN     0.6     9.9          0
37    38   Ninetales      Fire       NaN     1.1    19.9          0
38    39  Jigglypuff    Normal     Fairy     0.5     5.5          0
39    40  Wigglytuff    Normal     Fairy     1.0    12.0          0
40    41       Zubat    Poison    Flying     0.8     7.5          0
41    42      Golbat    Poison    Flying     1.6    55.0          0
42    43      Oddish     Grass    Poison     0.5     5.4          0
43    44       Gloom     Grass    Poison     0.8     8.6          0
44    45   Vileplume     Grass    Poison     1.2    18.6          0
45    46       Paras       Bug     Grass     0.3     5.4          0
46    47    Parasect       Bug     Grass     1.0    29.5          0
47    48     Venonat       Bug    Poison     1.0    30.0          0
48    49    Venomoth       Bug    Poison     1.5    12.5          0
49    50     Diglett    Ground       NaN     0.2     0.8          0
50    51     Dugtrio    Ground       NaN     0.7    33.3          0
51    52      Meowth    Normal       NaN     0.4     4.2          0
52    53     Persian    Normal       NaN     1.0    32.0          0
53    54     Psyduck     Water       NaN     0.8    19.6          0
54    55     Golduck     Water       NaN     1.7    76.6          0
55    56      Mankey  Fighting       NaN     0.5    28.0          0
56    57    Primeape  Fighting       NaN     1.0    32.0          0
57    58   Growlithe      Fire       NaN     0.7    19.0          0
58    59    Arcanine      Fire       NaN     1.9   155.0          0
59    60     Poliwag     Water       NaN     0.6    12.4          0
60    61   Poliwhirl     Water       NaN     1.0    20.0          0
61    62   Poliwrath     Water  Fighting     1.3    54.0          0
62    63        Abra   Psychic       NaN     0.9    19.5          0
63    64     Kadabra   Psychic       NaN     1.3    56.5          0
64    65    Alakazam   Psychic       NaN     1.5    48.0          0
65    66      Machop  Fighting       NaN     0.8    19.5          0
66    67     Machoke  Fighting       NaN     1.5    70.5          0
67    68     Machamp  Fighting       NaN     1.6   130.0          0
68    69  Bellsprout     Grass    Poison     0.7     4.0          0
69    70  Weepinbell     Grass    Poison     1.0     6.4          0
70    71  Victreebel     Grass    Poison     1.7    15.5          0
71    72   Tentacool     Water    Poison     0.9    45.5          0
72    73  Tentacruel     Water    Poison     1.6    55.0          0
73    74     Geodude      Rock    Ground     0.4    20.0          0
74    75    Graveler      Rock    Ground     1.0   105.0          0
75    76       Golem      Rock    Ground     1.4   300.0          0
76    77      Ponyta      Fire       NaN     1.0    30.0          0
77    78    Rapidash      Fire       NaN     1.7    95.0          0
78    79    Slowpoke     Water   Psychic     1.2    36.0          0
79    80     Slowbro     Water   Psychic     1.6    78.5          0
80    81   Magnemite  Electric     Steel     0.3     6.0          0
81    82    Magneton  Electric     Steel     1.0    60.0          0
82    83  Farfetch'd    Normal    Flying     0.8    15.0          0
83    84       Doduo    Normal    Flying     1.4    39.2          0
84    85      Dodrio    Normal    Flying     1.8    85.2          0
85    86        Seel     Water       NaN     1.1    90.0          0
86    87     Dewgong     Water       Ice     1.7   120.0          0
87    88      Grimer    Poison       NaN     0.9    30.0          0
88    89         Muk    Poison       NaN     1.2    30.0          0
89    90    Shellder     Water       NaN     0.3     4.0          0
90    91    Cloyster     Water       Ice     1.5   132.5          0
91    92      Gastly     Ghost    Poison     1.3     0.1          0
92    93     Haunter     Ghost    Poison     1.6     0.1          0
93    94      Gengar     Ghost    Poison     1.5    40.5          0
94    95        Onix      Rock    Ground     8.8   210.0          0
95    96     Drowzee   Psychic       NaN     1.0    32.4          0
96    97       Hypno   Psychic       NaN     1.6    75.6          0
97    98      Krabby     Water       NaN     0.4     6.5          0
98    99     Kingler     Water       NaN     1.3    60.0          0
99   100     Voltorb  Electric       NaN     0.5    10.4          0
100  101   Electrode  Electric       NaN     1.2    66.6          0
101  102   Exeggcute     Grass   Psychic     0.4     2.5          0
102  103   Exeggutor     Grass   Psychic     2.0   120.0          0
103  104      Cubone    Ground       NaN     0.4     6.5          0
104  105     Marowak    Ground       NaN     1.0    45.0          0
105  106   Hitmonlee  Fighting       NaN     1.5    49.8          0
106  107  Hitmonchan  Fighting       NaN     1.4    50.2          0
107  108   Lickitung    Normal       NaN     1.2    65.5          0
108  109     Koffing    Poison       NaN     0.6     1.0          0
109  110     Weezing    Poison       NaN     1.2     9.5          0
110  111     Rhyhorn    Ground      Rock     1.0   115.0          0
111  112      Rhydon    Ground      Rock     1.9   120.0          0
112  113     Chansey    Normal       NaN     1.1    34.6          0
113  114     Tangela     Grass       NaN     1.0    35.0          0
114  115  Kangaskhan    Normal       NaN     2.2    80.0          0
115  116      Horsea     Water       NaN     0.4     8.0          0
116  117      Seadra     Water       NaN     1.2    25.0          0
117  118     Goldeen     Water       NaN     0.6    15.0          0
118  119     Seaking     Water       NaN     1.3    39.0          0
119  120      Staryu     Water       NaN     0.8    34.5          0
120  121     Starmie     Water   Psychic     1.1    80.0          0
121  122    Mr. Mime   Psychic     Fairy     1.3    54.5          0
122  123     Scyther       Bug    Flying     1.5    56.0          0
123  124        Jynx       Ice   Psychic     1.4    40.6          0
124  125  Electabuzz  Electric       NaN     1.1    30.0          0
125  126      Magmar      Fire       NaN     1.3    44.5          0
126  127      Pinsir       Bug       NaN     1.5    55.0          0
127  128      Tauros    Normal       NaN     1.4    88.4          0
128  129    Magikarp     Water       NaN     0.9    10.0          0
129  130    Gyarados     Water    Flying     6.5   235.0          0
130  131      Lapras     Water       Ice     2.5   220.0          0
131  132       Ditto    Normal       NaN     0.3     4.0          0
132  133       Eevee    Normal       NaN     0.3     6.5          0
133  134    Vaporeon     Water       NaN     1.0    29.0          0
134  135     Jolteon  Electric       NaN     0.8    24.5          0
135  136     Flareon      Fire       NaN     0.9    25.0          0
136  137     Porygon    Normal       NaN     0.8    36.5          0
137  138     Omanyte      Rock     Water     0.4     7.5          0
138  139     Omastar      Rock     Water     1.0    35.0          0
139  140      Kabuto      Rock     Water     0.5    11.5          0
140  141    Kabutops      Rock     Water     1.3    40.5          0
141  142  Aerodactyl      Rock    Flying     1.8    59.0          0
142  143     Snorlax    Normal       NaN     2.1   460.0          0
143  144    Articuno       Ice    Flying     1.7    55.4          1
144  145      Zapdos  Electric    Flying     1.6    52.6          1
145  146     Moltres      Fire    Flying     2.0    60.0          1
146  147     Dratini    Dragon       NaN     1.8     3.3          0
147  148   Dragonair    Dragon       NaN     4.0    16.5          0
148  149   Dragonite    Dragon    Flying     2.2   210.0          0
149  150      Mewtwo   Psychic       NaN     2.0   122.0          1

In [19]:
#selection
#by column
print(df["Name"])
print(df["Height"])

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
145       Moltres
146       Dratini
147     Dragonair
148     Dragonite
149        Mewtwo
Name: Name, Length: 150, dtype: object
0      0.7
1      1.0
2      2.0
3      0.6
4      1.1
      ...
145    2.0
146    1.8
147    4.0
148    2.2
149    2.0
Name: Height, Length: 150, dtype: float64

In [20]:
print(df[["Name","Height","Weight"]])

           Name  Height  Weight
0     Bulbasaur     0.7     6.9
1       Ivysaur     1.0    13.0
2      Venusaur     2.0   100.0
3    Charmander     0.6     8.5
4    Charmeleon     1.1    19.0
..          ...     ...     ...
145     Moltres     2.0    60.0
146     Dratini     1.8     3.3
147   Dragonair     4.0    16.5
148   Dragonite     2.2   210.0
149      Mewtwo     2.0   122.0

[150 rows x 3 columns]

In [21]:
#Selection 
#By rows
print(df.loc[123])

No               124
Name            Jynx
Type1            Ice
Type2        Psychic
Height           1.4
Weight          40.6
Legendary          0
Name: 123, dtype: object

In [22]:
#to set a column as index
df = pd.read_csv("data.csv",index_col = "Name")
print(df)

             No    Type1   Type2  Height  Weight  Legendary
Name
Bulbasaur     1    Grass  Poison     0.7     6.9          0
Ivysaur       2    Grass  Poison     1.0    13.0          0
Venusaur      3    Grass  Poison     2.0   100.0          0
Charmander    4     Fire     NaN     0.6     8.5          0
Charmeleon    5     Fire     NaN     1.1    19.0          0
...         ...      ...     ...     ...     ...        ...
Moltres     146     Fire  Flying     2.0    60.0          1
Dratini     147   Dragon     NaN     1.8     3.3          0
Dragonair   148   Dragon     NaN     4.0    16.5          0
Dragonite   149   Dragon  Flying     2.2   210.0          0
Mewtwo      150  Psychic     NaN     2.0   122.0          1

[150 rows x 6 columns]

In [23]:
print(df.loc["Pikachu"])

No                 25
Type1        Electric
Type2             NaN
Height            0.4
Weight            6.0
Legendary           0
Name: Pikachu, dtype: object

In [24]:
#customize row selection
print(df.loc["Charizard" ,["Height", "Weight"]])

Height     1.7
Weight    90.5
Name: Charizard, dtype: object

In [25]:
print(df.loc["Charizard" : "Blastoise" ,["Height", "Weight"]]) # index tpo index
print(df.iloc[0:12:2, 1:4])#specified column selection

           Height  Weight
Name
Charizard     1.7    90.5
Squirtle      0.5     9.0
Wartortle     1.0    22.5
Blastoise     1.6    85.5
            Type1   Type2  Height
Name
Bulbasaur   Grass  Poison     0.7
Venusaur    Grass  Poison     2.0
Charmeleon   Fire     NaN     1.1
Squirtle    Water     NaN     0.5
Blastoise   Water     NaN     1.6
Metapod       Bug     NaN     0.7

In [26]:
#fun
pokemon = input("Enter a Pokemon Name: ")

try:
    print(df.loc[pokemon])
except KeyError:
    print(f"{pokemon} not found in this")

ddfffdd not found in this

In [27]:


print(df[df["Height"]<=2])

             No     Type1   Type2  Height  Weight  Legendary
Name
Bulbasaur     1     Grass  Poison     0.7     6.9          0
Ivysaur       2     Grass  Poison     1.0    13.0          0
Venusaur      3     Grass  Poison     2.0   100.0          0
Charmander    4      Fire     NaN     0.6     8.5          0
Charmeleon    5      Fire     NaN     1.1    19.0          0
...         ...       ...     ...     ...     ...        ...
Articuno    144       Ice  Flying     1.7    55.4          1
Zapdos      145  Electric  Flying     1.6    52.6          1
Moltres     146      Fire  Flying     2.0    60.0          1
Dratini     147    Dragon     NaN     1.8     3.3          0
Mewtwo      150   Psychic     NaN     2.0   122.0          1

[142 rows x 6 columns]

In [28]:
#filtering
#keeping the rows, that match the contion
Heavy_Pokemon = df[df["Weight"] > 50.0]
print(Heavy_Pokemon)

             No     Type1     Type2  Height  Weight  Legendary
Name
Venusaur      3     Grass    Poison     2.0   100.0          0
Charizard     6      Fire    Flying     1.7    90.5          0
Blastoise     9     Water       NaN     1.6    85.5          0
Arbok        24    Poison       NaN     3.5    65.0          0
Nidoqueen    31    Poison    Ground     1.3    60.0          0
Nidoking     34    Poison    Ground     1.4    62.0          0
Golbat       42    Poison    Flying     1.6    55.0          0
Golduck      55     Water       NaN     1.7    76.6          0
Arcanine     59      Fire       NaN     1.9   155.0          0
Poliwrath    62     Water  Fighting     1.3    54.0          0
Kadabra      64   Psychic       NaN     1.3    56.5          0
Machoke      67  Fighting       NaN     1.5    70.5          0
Machamp      68  Fighting       NaN     1.6   130.0          0
Tentacruel   73     Water    Poison     1.6    55.0          0
Graveler     75      Rock    Ground     1.0   105.0          0
Golem        76      Rock    Ground     1.4   300.0          0
Rapidash     78      Fire       NaN     1.7    95.0          0
Slowbro      80     Water   Psychic     1.6    78.5          0
Magneton     82  Electric     Steel     1.0    60.0          0
Dodrio       85    Normal    Flying     1.8    85.2          0
Seel         86     Water       NaN     1.1    90.0          0
Dewgong      87     Water       Ice     1.7   120.0          0
Cloyster     91     Water       Ice     1.5   132.5          0
Onix         95      Rock    Ground     8.8   210.0          0
Hypno        97   Psychic       NaN     1.6    75.6          0
Kingler      99     Water       NaN     1.3    60.0          0
Electrode   101  Electric       NaN     1.2    66.6          0
Exeggutor   103     Grass   Psychic     2.0   120.0          0
Hitmonchan  107  Fighting       NaN     1.4    50.2          0
Lickitung   108    Normal       NaN     1.2    65.5          0
Rhyhorn     111    Ground      Rock     1.0   115.0          0
Rhydon      112    Ground      Rock     1.9   120.0          0
Kangaskhan  115    Normal       NaN     2.2    80.0          0
Starmie     121     Water   Psychic     1.1    80.0          0
Mr. Mime    122   Psychic     Fairy     1.3    54.5          0
Scyther     123       Bug    Flying     1.5    56.0          0
Pinsir      127       Bug       NaN     1.5    55.0          0
Tauros      128    Normal       NaN     1.4    88.4          0
Gyarados    130     Water    Flying     6.5   235.0          0
Lapras      131     Water       Ice     2.5   220.0          0
Aerodactyl  142      Rock    Flying     1.8    59.0          0
Snorlax     143    Normal       NaN     2.1   460.0          0
Articuno    144       Ice    Flying     1.7    55.4          1
Zapdos      145  Electric    Flying     1.6    52.6          1
Moltres     146      Fire    Flying     2.0    60.0          1
Dragonite   149    Dragon    Flying     2.2   210.0          0
Mewtwo      150   Psychic       NaN     2.0   122.0          1

In [29]:
#fun
legendary_pokemon =df[df["Legendary"] == 1]
print(legendary_pokemon)

           No     Type1   Type2  Height  Weight  Legendary
Name
Articuno  144       Ice  Flying     1.7    55.4          1
Zapdos    145  Electric  Flying     1.6    52.6          1
Moltres   146      Fire  Flying     2.0    60.0          1
Mewtwo    150   Psychic     NaN     2.0   122.0          1

In [30]:
#aggregate functions :reduce a set of value into single summary value
#used to summarize and analyze data 


#For whole set of data
print(df.mean(numeric_only= True))
print(df.sum(numeric_only= True))
print(df.min(numeric_only= True))
print(df.count())
print(df.max(numeric_only= True))

No           75.500000
Height        1.200000
Weight       46.231333
Legendary     0.026667
dtype: float64
No           11325.0
Height         180.0
Weight        6934.7
Legendary        4.0
dtype: float64
No           1.0
Height       0.2
Weight       0.1
Legendary    0.0
dtype: float64
No           150
Type1        150
Type2         67
Height       150
Weight       150
Legendary    150
dtype: int64
No           150.0
Height         8.8
Weight       460.0
Legendary      1.0
dtype: float64

In [31]:
#For single column 
print(df["Height"].min())

0.2

In [32]:
#groupby() function
group = df.groupby("Type1")
print(group)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001A4FF635FD0>

In [33]:
print(group["Height"].max())

Type1
Bug         1.5
Dragon      4.0
Electric    1.6
Fairy       1.3
Fighting    1.6
Fire        2.0
Ghost       1.6
Grass       2.0
Ground      1.9
Ice         1.7
Normal      2.2
Poison      3.5
Psychic     2.0
Rock        8.8
Water       6.5
Name: Height, dtype: float64

In [34]:
#Data Cleaning : Process of fixing/removing incomplete or irrelevant data.
dc =df.drop(columns =["Legendary", "No"])
print(dc)

              Type1   Type2  Height  Weight
Name
Bulbasaur     Grass  Poison     0.7     6.9
Ivysaur       Grass  Poison     1.0    13.0
Venusaur      Grass  Poison     2.0   100.0
Charmander     Fire     NaN     0.6     8.5
Charmeleon     Fire     NaN     1.1    19.0
...             ...     ...     ...     ...
Moltres        Fire  Flying     2.0    60.0
Dratini      Dragon     NaN     1.8     3.3
Dragonair    Dragon     NaN     4.0    16.5
Dragonite    Dragon  Flying     2.2   210.0
Mewtwo      Psychic     NaN     2.0   122.0

[150 rows x 4 columns]

In [35]:
dp = df.dropna(subset =["Type2"])
print(dp)

             No     Type1   Type2  Height  Weight  Legendary
Name
Bulbasaur     1     Grass  Poison     0.7     6.9          0
Ivysaur       2     Grass  Poison     1.0    13.0          0
Venusaur      3     Grass  Poison     2.0   100.0          0
Charizard     6      Fire  Flying     1.7    90.5          0
Butterfree   12       Bug  Flying     1.1    32.0          0
...         ...       ...     ...     ...     ...        ...
Aerodactyl  142      Rock  Flying     1.8    59.0          0
Articuno    144       Ice  Flying     1.7    55.4          1
Zapdos      145  Electric  Flying     1.6    52.6          1
Moltres     146      Fire  Flying     2.0    60.0          1
Dragonite   149    Dragon  Flying     2.2   210.0          0

[67 rows x 6 columns]

In [ ]:
fn =df.fillna({"Type2":"None"})#used to replace missing values
print(fn)

             No    Type1   Type2  Height  Weight  Legendary
Name
Bulbasaur     1    Grass  Poison     0.7     6.9          0
Ivysaur       2    Grass  Poison     1.0    13.0          0
Venusaur      3    Grass  Poison     2.0   100.0          0
Charmander    4     Fire    None     0.6     8.5          0
Charmeleon    5     Fire    None     1.1    19.0          0
...         ...      ...     ...     ...     ...        ...
Moltres     146     Fire  Flying     2.0    60.0          1
Dratini     147   Dragon    None     1.8     3.3          0
Dragonair   148   Dragon    None     4.0    16.5          0
Dragonite   149   Dragon  Flying     2.2   210.0          0
Mewtwo      150  Psychic    None     2.0   122.0          1

[150 rows x 6 columns]

In [40]:
#fix inconsistent values
df["Type1"] = df["Type1"].replace({"Grass" : "GRASS","Fire" :"FIRE"})
print(df)

             No    Type1   Type2  Height  Weight  Legendary
Name
Bulbasaur     1    GRASS  Poison     0.7     6.9          0
Ivysaur       2    GRASS  Poison     1.0    13.0          0
Venusaur      3    GRASS  Poison     2.0   100.0          0
Charmander    4     FIRE     NaN     0.6     8.5          0
Charmeleon    5     FIRE     NaN     1.1    19.0          0
...         ...      ...     ...     ...     ...        ...
Moltres     146     FIRE  Flying     2.0    60.0          1
Dratini     147   Dragon     NaN     1.8     3.3          0
Dragonair   148   Dragon     NaN     4.0    16.5          0
Dragonite   149   Dragon  Flying     2.2   210.0          0
Mewtwo      150  Psychic     NaN     2.0   122.0          1

[150 rows x 6 columns]

In [43]:
#Standardize text
df["Type1"] = df["Type1"].str.lower()
print(df)

             No    Type1   Type2  Height  Weight  Legendary
Name
Bulbasaur     1    grass  Poison     0.7     6.9          0
Ivysaur       2    grass  Poison     1.0    13.0          0
Venusaur      3    grass  Poison     2.0   100.0          0
Charmander    4     fire     NaN     0.6     8.5          0
Charmeleon    5     fire     NaN     1.1    19.0          0
...         ...      ...     ...     ...     ...        ...
Moltres     146     fire  Flying     2.0    60.0          1
Dratini     147   dragon     NaN     1.8     3.3          0
Dragonair   148   dragon     NaN     4.0    16.5          0
Dragonite   149   dragon  Flying     2.2   210.0          0
Mewtwo      150  psychic     NaN     2.0   122.0          1

[150 rows x 6 columns]

In [45]:
#fix datatype
df["Legendary"] = df["Legendary"].astype(bool)
print(df)

             No    Type1   Type2  Height  Weight  Legendary
Name
Bulbasaur     1    grass  Poison     0.7     6.9      False
Ivysaur       2    grass  Poison     1.0    13.0      False
Venusaur      3    grass  Poison     2.0   100.0      False
Charmander    4     fire     NaN     0.6     8.5      False
Charmeleon    5     fire     NaN     1.1    19.0      False
...         ...      ...     ...     ...     ...        ...
Moltres     146     fire  Flying     2.0    60.0       True
Dratini     147   dragon     NaN     1.8     3.3      False
Dragonair   148   dragon     NaN     4.0    16.5      False
Dragonite   149   dragon  Flying     2.2   210.0      False
Mewtwo      150  psychic     NaN     2.0   122.0       True

[150 rows x 6 columns]

In [51]:
#remove duplicates
df =pd.read_csv("data.csv")
print(df)

      No        Name    Type1   Type2  Height  Weight  Legendary
0      1   Bulbasaur    Grass  Poison     0.7     6.9          0
1      2     Ivysaur    Grass  Poison     1.0    13.0          0
2      3    Venusaur    Grass  Poison     2.0   100.0          0
3      4  Charmander     Fire     NaN     0.6     8.5          0
4      5  Charmeleon     Fire     NaN     1.1    19.0          0
..   ...         ...      ...     ...     ...     ...        ...
153  150      Mewtwo  Psychic     NaN     2.0   122.0          1
154  150      Mewtwo  Psychic     NaN     2.0   122.0          1
155  150      Mewtwo  Psychic     NaN     2.0   122.0          1
156  150      Mewtwo  Psychic     NaN     2.0   122.0          1
157  150      Mewtwo  Psychic     NaN     2.0   122.0          1

[158 rows x 7 columns]

In [52]:
df =df.drop_duplicates()
print(df)

      No        Name    Type1   Type2  Height  Weight  Legendary
0      1   Bulbasaur    Grass  Poison     0.7     6.9          0
1      2     Ivysaur    Grass  Poison     1.0    13.0          0
2      3    Venusaur    Grass  Poison     2.0   100.0          0
3      4  Charmander     Fire     NaN     0.6     8.5          0
4      5  Charmeleon     Fire     NaN     1.1    19.0          0
..   ...         ...      ...     ...     ...     ...        ...
149  146     Moltres     Fire  Flying     2.0    60.0          1
150  147     Dratini   Dragon     NaN     1.8     3.3          0
151  148   Dragonair   Dragon     NaN     4.0    16.5          0
152  149   Dragonite   Dragon  Flying     2.2   210.0          0
153  150      Mewtwo  Psychic     NaN     2.0   122.0          1

[150 rows x 7 columns]