In [1]:
#pandas build on numpy
#pandas = panel data
#usually works with data series

In [2]:
import pandas as pd

In [3]:
#Series :1-D datatype of labelled array (column) in a spreadsheet
data1 = [100,102, 104]#int
data2 = ["A","B","c"]#string =object
data3 =[True,False]#boolean
series = pd.Series(data1)
series1 =pd.Series(data2)
series2 =pd.Series(data3)
print(series)
print(series1)
print(series2)

0    100
1    102
2    104
dtype: int64
0    A
1    B
2    c
dtype: object
0     True
1    False
dtype: bool

In [4]:
series

0    100
1    102
2    104
dtype: int64

In [5]:
series =pd.Series(data1, index =["a","b","c"])#index change / label change
print(series)

a    100
b    102
c    104
dtype: int64

In [6]:
print(series.loc["a"])#used to retrive from the value by label (location)
series.loc["c"]= 200
print(series)

100
a    100
b    102
c    200
dtype: int64

In [7]:
print(series.iloc[0])#used by integer label

100

In [8]:
data = [100,200,300,400,500]#filtering by value
series3 = pd.Series(data , index = ["a","b","c","d","e"])
print(series3[series3 > 200])

c    300
d    400
e    500
dtype: int64

In [9]:
data4 = {"Day1": 1750, "Day2": 2100, "Day3":1700}
series4 = pd.Series(data4)
print(series4.loc["Day1"])
print(series4.iloc[2])
series4.loc["Day1"] +=400
print(series4)
print(series4[series4 >2000])

1750
1700
Day1    2150
Day2    2100
Day3    1700
dtype: int64
Day1    2150
Day2    2100
dtype: int64

In [10]:
#Datarframe = Atabular data Structure with rows and columns.(2-D) same as spread sheet
data = {"Name" : ["Luffy", "Zoro", "Sanji"],
        "Age" : [19 ,22, 22]}
df = pd.DataFrame(data, index =["Captian", "Vice-Captian", "Cook"])
print(df)

               Name  Age
Captian       Luffy   19
Vice-Captian   Zoro   22
Cook          Sanji   22

In [11]:
print(df.loc["Captian"])#For Single Row by label

Name    Luffy
Age        19
Name: Captian, dtype: object

In [12]:
print(df.iloc[1])#same with index
print(df.iloc[2])

Name    Zoro
Age       22
Name: Vice-Captian, dtype: object
Name    Sanji
Age        22
Name: Cook, dtype: object

In [13]:
#Add new Column
df["Joining"] = ["Captian", "Crew1", "Crew3"]
print(df)

               Name  Age  Joining
Captian       Luffy   19  Captian
Vice-Captian   Zoro   22    Crew1
Cook          Sanji   22    Crew3

In [14]:
#Add new Row : create new dataframe and concatenate
new_row = pd.DataFrame([{"Name":"Nami", "Age": 21,"Joining" : "Crew2" }], index =["Navigator"])
df = pd.concat([df ,new_row])#used to concatenate
print(df)

               Name  Age  Joining
Captian       Luffy   19  Captian
Vice-Captian   Zoro   22    Crew1
Cook          Sanji   22    Crew3
Navigator      Nami   21    Crew2

In [19]:
#importing
#we read by using pd.read_csv()
#for jso: pd.read_json